@font-face {
	font-family: 'FG';
	src: url('../font/FG-Regular.eot');
	src: local('☺'), url('../font/FG-Regular.woff') format('woff'), url('font/FG-Regular.ttf') format('truetype'), url('font/FG-Regular.svg') format('svg');
	font-weight: 400;
}

@font-face {
	font-family: 'FG';
	src: url('../font/FG-Semibold.eot');
	src: local('☺'), url('../font/FG-Semibold.woff') format('woff'), url('font/FG-Semibold.ttf') format('truetype'), url('font/FG-Semibold.svg') format('svg');
	font-weight: 500;
}

@font-face {
	font-family: 'FG';
	src: url('../font/FG-Bold.eot');
	src: local('☺'), url('../font/FG-Bold.woff') format('woff'), url('font/FG-Bold.ttf') format('truetype'), url('font/FG-Bold.svg') format('svg');
	font-weight: 600;
}