<div class="article bounceBottom">





	<div class="wrapper title">iOS Switch</div>

	<img src="static/images/framer.png" alt="">


















<!-- 
	<video width:"100%" autoplay loop muted poster="/" class="video">
		<source src="static/videos/prototype.mp4" type="video/mp4">
		<source src="static/videos/prototype.webm" type="video/mp4">
	</video>

 -->






 	<div class="wrapper">
 		<p>Slide in a new layer from the right when a hit area is tapped and go back by swiping.
		
		<p class="quote">The visuals bellow are a sneak peek of a work in progress. Slide in a new layer from the right when a hit area is tapped and go back by swiping.</p>



		<br><br>
		<a class="link" href="#">Download</a>
 		</p>	
 	</div>


	<div class="editor">
		<p>
			drag.x = constraints.x <br>
			drag.y = constraints.y<br>



		</p>
	</div>


	<div class="wrapper separator"></div>

</div>

