<section id="branding">
	<div class="wrapper">
		<h1>Design a system</h1>
		<p>
			<span>
		Mapstr’s old logotype and app icon had gone practically unchanged since the company’s creation and it was more than time for a refresh. The weird color, the hash icon plus the lack of typographic effort — using a default system font — clearly made the brand system feel outdated.
			</span>
		</p>

		<h2>Icon</h2>

		<img src="static/images/002.png" alt="">


		<h1>Building a platform</h1>
		<p>
			<span>
			Mapstr’s goal is to build the default platform to create, collect,
			and share places everywhere around the world. The first problem
			we met was how to build trust from our users, how to inform
			them that the platform is secure and private by design?
			Each steps of the process required a deep focus on giving
			users the best way to access, control and manage their
			data — dealing with rather personal inputs, to create
			a trustworthy platform.
			</span>
		</p>


		<img src="static/images/001.png" alt="">

		<h2>Connected to your apps</h2>
		<p>
			<span>
			As a platform, we needed to communicate
			with apps and external data providers.
			<br><br>
			I designed and shipped a module that let users import
			places from different APIs — parsing retrieved geopoints,
			and converting them into places with valid content
			informations. Local source files such as .csv or .klm
			were also supported.
			<br><br>
			To build up the platform experience, users could also
			browse recent deleted data through a backup storage
			settings page.
			</span>

		</p>


		<h2>Designed for the inner circle</h2>
		<p>
			<span>
			When we introduced the User Accounts feature,
			we knew that we reached a milestone step.
			Enabling our users to interact within the app had
			a huge impact on acquisition — which at that moment,
			was the bottom line lever to our company’s business growth.
			<br><br>
			Based on research outcomes, we first defined a user model
			architecture, then I was in charge of the complete UX workflow,
			from the sign-up journey to the design, test phases and
			implementation of every user related features.
			<br><br>
			It was very challenging to deal with projects involving
			designing for user privacy along with inputing growth
			processes — creating a platform at the in-between
			of a commodity tool and an private social network.
			<br><br>
			We received a lot a great feedbacks
			<br><br>
			</span>
			<span class="quote">
				Thanks for having introduce user IDs, it’s way
				more easier to add friends. The app is essential to keep
				track of your places and your friends ones.
			</span>
			<br><br>
			<span class="quote">
				Finally!!!
			</span>
			<br><br>
			<span class="quote">
			Awesome app ! Definitely better when your friends
			are using it and share their favorite spots with you 👌
			</span>
		</p>


		<img src="static/images/img.png" alt="">

	</div>
</section>
