<section id="branding">
	<div class="wrapper">
		<h1>Design a system</h1>
		<p>
		Mapstr’s old logotype and app icon had gone practically unchanged since the company’s creation and it was more than time for a refresh. The weird color, the hash icon plus the lack of typographic effort — using a default system font — clearly made the brand system feel outdated.
		</p>

		<h2>Icon</h2>

		<img src="static/images/logo.png" alt="">

		<p>
		To visually empower the brand, I put emphasis on the marker —  the core symbol of the product experience — Its design appeared in a more geometric yet bolder aspect, and could easily stood up at small size context. I also warmed up the brand color, to remain friendly and also highlight the tech-savvy-side of the product.
		</p>


		<h2>Logotype</h2>
		<p>
		Alongside the icon development, I designed a custom sans-serif wordmark and provided technical specs including color guides, spacing, and clearance rules.
		</p>


		<h1>Building a platform</h1>
		<p>
			Mapstr aims to be the default platform for all your places — its model should be flexible, trustworthy and secure. As a platform, users should be able to manage their data how they want. By that its means importing and exporting content without constaints. It should also let a user in charge of its privacy. We deal with personal
		</p>
		<h2>Connected with your apps</h2>
		<p>
			As a platform, we needed to communicate with apps and external data providers.
			<br>
			I designed and shipped a module that let users import places from different APIs — parsing retrieved geopoints, and converting them into places with valid content informations. Local source files such as .csv or .klm were also supported.
			<br>
			To build up the platform experience, users could also browse recent deleted data through a backup storage settings page.
		</p>

		<h2>Designed for the inner circle</h2>
		<p>
			Introducing users account allowed users to interact and share within the app was a milestone step — it massively increased acquisition — which at that moment, represented a bottom line lever to our company’s business growth.
			<br>
			Following research outcomes we defined a simple account model architecture. I was reponsible for the complete UX workflow, from the first run experience to the design, tests and implementation of the profile features.

		</p>
		<img src="static/images/img.png" alt="">

	</div>
</section>
