<section id="branding">
	<div class="wrapper">

			<h2>Branding</h2>
			<p>Mapstr logotype and app icon had gone practically untouched since its creation in 2015.
It was represented a bold hash icon inside a bordered map marker.
The butterscotch yellow primary color of the brand feel retro.
Plus it suffers from a lack of typographic efforts, using the a default helvetica font.

Mapstr aims to be fresh and innovative, and help people living better. Unfortunately its poor branding material made the product feel already old.

So, It clearly needed a refresh:

The core of our product experience is adding markers on a map. User can fill these markers with specific icons and colors to build their very own map experience. The hash icon was using as a default placeholder, when our server were not able to localize the establishment. Thats was the concept of the original logo.

I decided to push the concept to its core, the platform. We remain a tool, and not a place suggestions app, so I focus on the marker instead of the place icon.

It now appears in more geometric yet bold way, and can easily stand up at small size context.


I warmed our primary yellow color to look more welcoming and new.</p>
	</div>
</section>
