<section id="design">
	<div class="wrapper">
		<div class="block"></div>

			<p>
				• Intro: Why I joined <br>
• Story / Started on MVP (ios public beta)<br>
• Main Project:<br>
- Both iOS and Android<br>
-<br>
-<br>
• Conclusion: Impact on Growth (?) - DAU rise<br>
When I stared, Mapstr was in its early, close to the intial MVP. I was solely in charge of both UI and UX of mapstr.

I worked on X projects Working on both sides was challenging because I had to adapt a very dualistic worklow: Make UX project get UI implement easily and vice versa. I was in a charge of building a team process.



			</p>
		</div>
	</div>
</section>
