
body{


	font-size: 24px;
	font-family: "lab grotesque", helvetica;
	margin: 0;
	padding: 0;
	min-width: 480px;
	color: #B7B7BD;
}

p{
width: 660px;
margin: auto;
padding: 100px 0;
line-height: 34px;
}

img{

	max-width: 100%;
	height: auto;

}


	.content{
		overflow: auto;
		position: relative;
		width: 100%;
		height: auto;
	}
.container {
	width: 6000px;
    height: 800px;
    background: url(thumbnails/Board.png) center no-repeat;
    background-size: cover;
}
