<!DOCTYPE html>
<html>
<head>
	<title>Hugo des Gayets</title>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge; chrome=1">
	<meta name="viewport" content="initial-scale=1,user-scalable=no">
	<meta property="og:title" content="Hugo des Gayets">
	<meta property="og:description" content="Paris based Product Designer.">
	<meta property="og:url" content="http://hugo.cool">
	<meta property="og:image" content="http://hugo.cool/dist/static/images/og-image.jpg">
	<meta property="og:type" content="website">
	<meta name="description" content="Paris based Product Designer.">
	<link rel="icon" type="image/png" href="static/images/favicon-32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="static/images/favicon-16.png" sizes="16x16" />
    <link type="text/css" rel="stylesheet" href="static/css/styles.css">
</head>

<body>

<!-- Navigation Bar-->
<header class="hidden">
	<section class="wrapper">
		<nav class="text-block">
			<a href="mailto:hugo.desgayets@gmail.com?subject=Bonjour%20Hugo%20!">Email</a>
			<a href="https://dribbble.com/hugodesgayets" target="blank">Dribbble</a>
			<a href="https://twitter.com/hugodesgayets" target="blank">Twitter</a>
		</nav>
	</section>
</header>

<!-- Header -->
<div class="wrapper" >
	<div class="text-block">
		<h1>Hugo<br>des Gayets</h1>
		<h2>Product designer at Baatch. Previously at <a href="mapstr.html">Mapstr</a>. with a focus on usability, architecture & prototyping.</h2>
	</div>
</div>


<div class="wrapper hidden">
	<!-- Project -->
	<div class="frame">
		<div class="devices"></div>
		<div class="regular slider">
			<div><img src="static/images/phone.png"></div>
			<div><img src="http://placehold.it/375x667?text=2"></div>
		</div>


	</div>
	<!-- Project infos-->
	<div class="text-block">
		<h3>2015 - 2017 - Product Design UX/UI</h3>
		<h2>Mapstr</h2>
		<p>
			Mapstr is a storage and a synchronization service that let users
			save and share their favorite places. Standing at the intersection
			of a commodity tool and a private social network, the app is used
			by over +200 thousands of users and contains millions of places,
			from local POIs to tailor-made locations.
			<br>
			My role as a UX Designer was to help improve user acquisition,
			drive engagement and build-up the community through the design,
			test and delivery of both inclusive and accessible interface solutions.
			<br>
			In this context, I led and mentored a team of 6 engineers, worked
			the end-to-end process — from design research to product iterations,
			and provided a rich documentation, including flows, prototypes
			and GUI specifications.
		</p>
		<div class="text-block">
			<p>Find more on <a href="https://dribbble.com/hugodesgayets" target="_blank">Dribbble</a>.</a></p>
		</div>

	</div>




</div>

<script src="static/js/jquery-1.11.3.min.js"></script>
<script src="static/js/main.js"></script>

<script type="text/javascript">
  $(document).on('ready', function() {
	$(".regular").slick({
	  accessibility: false,
	  dots: false,
	  infinite: true,
	  slidesToShow: 1,
	  slidesToScroll: 1,
	  autoplay: true,
	  autoplaySpeed: 2000,
	  focusOnSelect: false,
	  arrows: false,
	  draggable: false,
	  fade: false,
	  vertical: true,
	  pauseOnFocus: false,
	  pauseOnHover: false
	});
  });
</script>

</body>
</html>
