<!DOCTYPE html>
<html>
<head>
	<title>Hugo des Gayets</title>
    <link type="text/css" rel="stylesheet" href="static/css/styles.css">
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="static/images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="static/images/favicon-16x16.png" sizes="16x16" /> 
</head>
<body class="t">


<div id="prototyping" class="project">

	<img src="static/images/prototyping.jpg">

	<div class="wrapper">
		<a href="page.html"><h1>Framer.js explorations</h1></a>
			Framer.js explorations
		<a href="page.html" class="btn">View more</a>







</div>
	





<% include ../src/partials/footer.html %>

</div>

<script src="static/js/jquery-1.11.3.min.js"></script>
<script src="static/js/main.js"></script>

</body>
</html>