<!DOCTYPE html>
<html>
<head>
	<title>Hugo des Gayets - Prototyping</title>
    <link type="text/css" rel="stylesheet" href="static/css/styles.css">
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="static/images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="static/images/favicon-16x16.png" sizes="16x16" /> 
</head>
<body class="page-project">


<section>

<!-- <% include ../src/partials/navbar.html %> -->


<div class="container">



	<div class="wrapper">
	I am a Paris based Interaction Designer, with a focus on Information Architecture, Usability, and Prototyping. I have several years of work experience in start-up environment, which allow me to develop a solid know-how in handling product design life cycle. I am specialized in solving complex problems, through the design and delivery of intuitive experiences, that serves users needs, create trust, and build confidence. My approach of design combined a high-level product strategy thinking with an excellence in product execution. I am passionate about User Experience, and clever details that bring un
	</div>


	<div class="separator"></div>

	<div class="wrapper">

	<% include ../src/partials/article.html %>

	</div>


</div>




</section>

<script src="static/js/jquery-1.11.3.min.js"></script>
<script src="static/js/main.js"></script>

</body>
</html>