<!DOCTYPE html>
<html>
<head>
	<title>Hugo des Gayets - Prototyping</title>
    <link type="text/css" rel="stylesheet" href="static/css/styles.css">
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="static/images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="static/images/favicon-16x16.png" sizes="16x16" /> 
</head>
<body class="t">

<% include ../src/partials/navbar.html %>
<div class="container">
<div class="wrapper">
	<h1 class="page-title-large">Prototyping</h1>

	<img src="static/images/prototyping.jpg">
			<h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h1>
</div>

	<% include ../src/partials/article.html %>


		<% include ../src/partials/article.html %>


<% include ../src/partials/footer.html %>

</div>

<script src="static/js/jquery-1.11.3.min.js"></script>
<script src="static/js/main.js"></script>

</body>
</html>