<!DOCTYPE html>
<html>
<head>
	<title>Hugo des Gayets</title>
	<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="static/css/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

	<link rel="icon" type="image/png" href="static/images/favicon-32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="static/images/favicon-16.png" sizes="16x16" />
</head>

<body>




<div class="container navbar">
    <div id="menu-center" class="wrapper">
        <%# <ul>
			<li><a href="#introduction">Introduction</a></li>
			<li><a href="#branding">Branding</a></li>
			<li><a href="#prototyping">Prototyping</a></li>
			<li><a href="#design">Design</a></li>
        </ul>%>
    </div>
</div>


<div class="block hidden"></div> <%# Fix content offset when sticky %>

<div class="wrapper">



	<h1>Hugo <br>des Gayets</h1>

	<h2>Product designer at Baatch. Previously at Mapstr. with a focus on usability, architecture and prototyping.</h2>

	<div class="block"></div>
	<div class="block"></div>
	<div class="block"></div>
	<div class="block"></div>


	<p>
		<span>
			Mapstr is a storage and a synchronization service that let users
			save and share their favorite places. Standing at the intersection
			of a commodity tool and a private social network, the app is used by over +200 thousands
			of users and contains millions of places, from local POIs to tailor-made locations.
			<br><br>
			My role as a UX Designer was to help improve user acquisition, drive engagement
			and build-up the community through the design, test and delivery of both inclusive
			and accessible interface solutions.<br>
			In this context, I led and mentored a team of 6 engineers, worked the end-to-end
			process — from design research to product iterations, and provided rich documentations
			including flows, prototypes and GUI specifications.
		</span>
	</p>
</div>


<% include ../src/partials/introduction.html %>
<% include ../src/partials/branding.html %>
<% include ../src/partials/prototyping.html %>
<% include ../src/partials/design.html %>
<% include ../src/partials/footer.html %>

<script src="static/js/jquery-1.11.3.min.js"></script>
<script src="static/js/main.js"></script>

<script type="text/javascript">



</script>



</body>
</html>
