<!DOCTYPE html>
<html>
<head>
	<title>Return App — desgayets.me</title>
	<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="static/css/styles.css">

	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,600" rel="stylesheet">

    <link rel="icon" type="image/png" href="static/images/favicon-32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="static/images/favicon-16.png" sizes="16x16" />
</head>

<body>



<%# <div class="container banner">
	<a href="#"></a>
</div>%>
<%# <div class="container navbar">
    <div id="menu-center" class="wrapper">

    </div>
</div>%>



<div class="block hidden"></div> <%# Fix content offset when sticky %>





<div class="wrapper">




	<h1>Return</h1>


	<h2>Introduction</h2>

	<p>
		<span>
		Return is a utility app that lets you assign something to someone with a custom timer.
		On due dates, it sends funny random messages to remind the borrower that it’s about time… to return.
		</span>
	</p>


	<img src="static/images/return-01.png" alt="">
	<h2>Design</h2>

	<p>
		<span>

		Return is a utility app that should be intuitive, usable, and completion fast.
<br>

Lending is a matter of trust. Usually, people do not lend to people they don’t know about.
Based on that point, Return uses your phone’s contacts, the only people you are really relative to.
</span>
	</p>









	<img src="static/images/return.png" alt="">
	<span class="figcaption">Add a new item</span>

	<img src="static/images/return.png" alt="">
	<span class="figcaption">Add a new item</span>


	<h2>Prototyping</h2>
	<p>
		<span>
			I wanted to focus on a very simple experience, with as little elements and
			interactions as possible. A user should create an item
		</span>
	</p>
</div>









<script src="static/js/jquery-1.11.3.min.js"></script>
<script src="static/js/main.js"></script>

<script type="text/javascript">



</script>



</body>
</html>
