

// Animation layout

.frame {
    overflow: hidden;
    position: relative;
    width: 600px;
    height: 808px;
    margin: auto;
    .devices {
        position: relative;
        z-index: 2;
        width: 598px;
        height: 808px;
        margin: auto;
        background: url('../images/on-devices.png') center no-repeat;
        background-size: contain;
    }
    #ios {
        position: absolute;
        z-index: 1;
        top: 157px;
        left: 230px;
        width: 300px;
        height: 534px;
        background: url(../images/anim-ios.png) top no-repeat;
        background-size: cover;
        background-position-y: 0%;
        transition: 0.4s cubic-bezier(0.15, 0, 0.2, 1);
    }
    #android {
        position: absolute;
        top: 87px;
        left: 68px;
        width: 332px;
        height: 590px;
        background: url(../images/anim-android.png) top no-repeat;
        background-size: cover;
        background-position-y: 0px;
        transition: 0.4s cubic-bezier(0.15, 0, 0.2, 1);
    }
}

@media only screen and (max-width: 840px) {
    .frame {
        width: 480px;
        height: 648px;
        .devices {
            width: 480px;
            height: 648px;
        }
        #ios {
            top: 125px;
            left: 184px;
            width: 241px;
            height: 430px;
        }
        #android {
            top: 71px;
            left: 53px;
            width: 268px;
            height: 476px;
        }
    }
}

@media only screen and (max-width: 560px) {
    .frame {
        width: 270px;
        height: 365px;
        .devices {
            width: 270px;
            height: 365px;
        }
        #ios {
            top: 71px;
            left: 103px;
            width: 136px;
            height: 242px;
        }
        #android {
            top: 40px;
            left: 30px;
            width: 150px;
            height: 268px;
        }
    }
}
