

// Animation layout

.frame {
    position: relative;
    width: 750px;
    height: 800px;
    margin: auto;
    padding-bottom: 30px;
    .devices {
        position: relative;
        z-index: 1;
        width: 750px;
        height: 800px;
        margin: auto;
        background: url('../images/on-devices.png') center no-repeat;
        background-size: contain;
    }
    .slick-slider {
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        -webkit-touch-callout: none;
        -webkit-tap-highlight-color: transparent;
    }
    .slick-list {
        position: absolute;
        top: 154px;
        left: 306px;
        display: block;
        overflow: hidden;
        margin: 0;
        padding: 0;
        width: 298px;
    }
    .slick-slide img {
        padding: 0 !important;
        display: block;
    }
}


// Responsive

@media only screen and (max-width: 800px) {
    .frame {
        width: 480px;
        height: 648px;
        .devices {
            width: 480px;
            height: 648px;
        }
        .slick-list {
            top: 126px;
            left: 184px;
            width: 240px;
        }
    }
}

@media only screen and (max-width: 560px) {
    .frame {
        width: 270px;
        height: 365px;
        .devices {
            width: 270px;
            height: 365px;
        }
        .slick-list {
            top: 71px;
            left: 103px;
            width: 136px;
        }
    }
}
