

// Animation layout

.frame {
    overflow: hidden;
    position: relative;
    width: 680px;
    height: 750px;
    margin: auto;
    .devices {
        position: relative;
        z-index: 1;
        width: 680px;
        height: 750px;
        margin: auto;
        background: url('../images/on-device.png') center no-repeat;
        background-size: contain;
    }
    #ios {
        overflow: hidden;
        position: absolute;
        z-index: 0;
        top: 97px;
        left: 191px;
        width: 300px;
        height: 534px;
        background: url(../images/anim-ios.png) top no-repeat;
        background-size: cover;
        background-position-y: 0%;
        transition: 0.5s cubic-bezier(0.5, 0, 0.5, 1);
    }
    #android {
        position: absolute;
        top: 87px;
        left: 68px;
        width: 332px;
        height: 590px;
        background: url(../images/anim-android.png) top no-repeat;
        background-size: cover;
        background-position-y: 0px;
        transition: 0.4s cubic-bezier(0.15, 0, 0.2, 1);
    }
}

@media only screen and (max-width: 800px) {
    .frame {
        width: 480px;
        height: 648px;
        .devices {
            width: 480px;
            height: 648px;
        }
        #ios {
            top: 129px;
            left: 135px;
            width: 212px;
            height: 377px;
        }
        #android {
            top: 71px;
            left: 53px;
            width: 268px;
            height: 476px;
        }
    }
}

@media only screen and (max-width: 560px) {
    .frame {
        width: 290px;
        height: 320px;
        .devices {
            width: 290px;
            height: 320px;
        }
        #ios {
            top: 43px;
            left: 81px;
            width: 128px;
            height: 227px;
        }
        #android {
            top: 40px;
            left: 30px;
            width: 150px;
            height: 268px;
        }
    }
}
