.back-btn {
	
}

a {
	text-decoration: none;
	&.link {
		color: $dark;
		border-bottom: 1px solid $dark;
		padding-bottom: 1px;
		transition: ease 0.1s;
		&:hover {
			color: $dark;
			border-bottom: 1px solid $dark;
		}
		&:active {
			opacity: 0.8;
		}
	}
}

.btn {
	font-size: 14px;
    font-weight: 400;
    color: inherit;
    border: 1px solid #e8e8e8;
    padding: 10px 10px 10px 10px;
    display: inline-block;
}