.back-btn {
	
}

a {
	text-decoration: none;
	&.link {
		color: $dark;
		border-bottom: 1px solid $dark;
		padding-bottom: 1px;
		transition: ease 0.1s;
		&:hover {
			color: $dark;
			border-bottom: 1px solid $dark;
		}
		&:active {
			opacity: 0.8;
		}
	}
}