.editor {
	margin: 40px auto 0px auto;
	border-radius: 3px;
	& p {
		font-family: "Menlo";
		font-size: 15px;
		line-height: 30px;
		color: $primary;
	    border-radius: 5px;
	    border: 1px solid #eee;
	    padding: 30px 35px;
	}
}