$margin: 55px auto 70px auto;

body {

}

img, video {
	width: 100%;
	// margin: $margin;
	cursor: default;
}









.container {
	margin: auto;
    padding: 0 30px;	
	max-width: 800px;
}

.project {
	margin: auto;
    padding: 0 30px;	
	max-width: 1200px;
}



.wrapper {
	margin: auto;
	max-width: 600px;
}

.page-title-large {
	font-size: 30px;
    padding: 200px 0 40px 0;
    text-align: center;
}

.article {
	.title {
	    padding: 90px 0 40px 0;
	}
	img {
		padding-bottom: 40px;
	}
	.separator {
		width: 100%;
		height: 1px;
		margin-top: 60px;
		background-color: #EFEFEF;
	}
}



.footer {
	text-align: center;
}


// Home

.welcome {
	position: absolute;
	background-color: white;
	height: 100%;
	width: 100%;
	.me {
	    position: absolute;
	    top: 0;
	    right: 0;
	    left: 0;
	    bottom: 0;
	    margin: auto;
	    width: 156px;
	    height: 110px;
	    p {
	    	text-align: center;
	    }
	    .function {
	    	color: $primary;
	    }
	}
}