body {
	height: 5000px;
}

img {
	width: 100%;
}

.container {
	margin: auto;
    padding: 0 30px;	
	max-width: 800px;
}

.wrapper {
	margin: auto;
	max-width: 600px;
}

.page-title {
    padding: 150px 0 125px 0;
    text-align: center;
}