$margin: 55px auto 70px auto;

body {
	margin: 0;

}

section {
	background-color: white;
}

img, video {
	width: 100%;
	// margin: $margin;
	cursor: default;
}







.container	{
	width: 100%;
	
	.separator {
		width: 100%;
		height: 1px;
		background-color: #E4E4E4;
	}

	.wrapper {
		position: relative;
		margin: auto;
		padding: 0 45px;	
		max-width: 800px;
	}

	.project {
	    position: relative;
	    margin: 30px auto 150px auto;
	    padding: 0;



		.editor {
		    margin: 40px auto 0px auto;
		    border-radius: 3px;
			.editor p {
			    font-family: "Menlo";
			    font-size: 15px;
			    line-height: 30px;
			    color: #a7a7ac;
			    border-radius: 5px;
			    border: 1px solid #eee;
			    padding: 30px 35px;
			}


		}



	    .caption {
			max-width: 100%;
			.description {
				font-size: 16px;
			}
			.link {
				font-size: 17px;
			}
	    }

		.visual	{
			max-width: 100%;
		}

	}






}






@media screen and (max-width: 750px) {

}









.page-title-large {
	font-size: 30px;
    padding: 200px 0 40px 0;
    text-align: center;
}

.article {
	.title {
	    padding: 90px 0 40px 0;
	}
	img {
		padding-bottom: 40px;
	}
	.quote {
		font-size: 16px;
		color: $primary;
	}
	.separator {
		width: 100%;
		height: 1px;
		margin-top: 60px;
		background-color: #EFEFEF;
	}
}



.footer {
	text-align: center;
}


// Home

header {
	position: relative;
	height: 850px;
	background-color: white;
	hgroup {
		font-size: 80px;
		line-height: 84px;
		letter-spacing: -1px;
		#sayhi {
			position: absolute;
			top: 16px;
			right: 16px;
			color: #c7c7cc;
			font-weight: 400;
			font-size: 18px;
			line-height: initial;
		}
		

		p {
			position: absolute;
			top: 280px;
		}


	}

}






