.navbar {
	font-size: 40px;
	position: fixed;
	width: 100%;

	.inner {
		position: absolute;
		left: 18px;
		right: 18px;
		height: 75px;
		background-color: white;
		box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.03);

		.back-btn {
			position: relative;
    		z-index: 2;			
			top: 19px;
			width: 39px;
			height: 39px;
			background: url("../images/back.png") $light center no-repeat;
			background-size: 33.3%;
			border-radius: 5px;
			background-position-x: 12px;
			transition: all 0s;
			&:hover {
				cursor: pointer;
			}
			&:active {
				box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05) inset;
				background-position-y: 10px;
			}
		}

		.title-container {
			overflow: hidden;
			position: absolute;
			top: 0;
			height: 75px;			
			z-index: 1;
			margin: auto;
			right: 0;
			left: 0;
			text-align: center;

			.page-title-small {
				color: #333333;
				position: relative;
				top: 90px;
				transition: all 0.4s;
				font-size: 20px;
				padding-top: 22px;				
			}

			.show {
				top: 0;
				transition: all 0.4s;
			}		
		}
	}
}