html, * {
	margin: 0;
	padding: 0;
	font-size: 62.5%;
}

body {
	width: 100%;
	height: 100%;
	font-family: "maison";
	font-size: 2rem;
	line-height: 3.3rem;
	letter-spacing: 0.3px;
	font-weight: 400;
	color: black;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: none;
}

.hidden {
	display: none;
}

a {
	text-decoration: none;
	color: inherit;
}

p {
	a {
		border-bottom: 2px solid black;
		padding-bottom: 4px;
	}
}

img {
	display: block;
	margin: auto;
	max-width: 100%;
	padding: 50px 0;
}


// Typography

h1 {
	font-size: 9rem;
	line-height: 11rem;
	letter-spacing: -0.1px;
	margin: 200px 0 70px 0;
}

h2 {
	font-size: 3rem;
	line-height: 4.2rem;
	margin: 0 0 140px 0;
}

strong {
	font-weight: 600;
}


// Blocks

.wrapper {
	max-width: 1400px;
	padding: 0 50px;
	margin: auto;
}

.banner {
	margin: auto;
	background-color: #f7f7f7;
	max-width: 1500px;
}

.heroimage {
	margin: 70px auto 60px;
	max-width: 1500px;
	height: 350px;
}

.text-block {
	max-width: 720px;
	padding-right: 80px;
	margin: 0 auto 50px auto;

	.legend {
		display: inline-block;
		padding-left: 20px;
		border-left: 1px solid rgba(0, 0, 0, 0.15);
		font-size: 1.6rem;
		font-weight: 500;
		line-height: 2.8rem;
		color: rgba(0, 0, 0, 0.3);
	}

}

.image-block {
	max-width: 1200px;
	margin: auto;
}


// Navigation Bar

header {
	position: fixed;
	z-index: 9;
	top: 0;
	width: 100%;

	section {
		background-color: white;
		overflow: hidden;
		-webkit-transition:height 0.3s;
	 	-moz-transition:height 0.3s;
	 	-ms-transition:height 0.3s;
	 	transition:height 0.3s;

		.back {
			position: absolute;
			margin: 8px 0 0 -50px;
			width: 56px;
			height: 56px;
			background: url('../images/icon-back.png') center no-repeat;
			background-size: cover;
		}
		nav {
			a {
				margin-right: 20px;
				font-size: 2.1rem;
				line-height: 10rem;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				-ms-transition: all 0.3s;
				transition: all 0.3s;
			}
		}
		&.smaller {
			height: 70px;
			border-bottom: 1px solid #EAEAEA;
			nav {
				a {
					font-size: 1.6rem;
					line-height: 7.5rem;
				}
			}
		}
	}
}


// Apps
.icon {
	height: 120px;
	margin-right: 15px;
	margin-bottom: 39px;
	width: 120px;
	border-radius: 30px;
	box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.1),
				0px 4px 2px rgba(0, 0, 0, 0.1),
				0px 2px 4px rgba(0, 0, 0, 0.1);
}
#mapstr {
	background: url('../images/icon-mapstr.png') #FFA933 center no-repeat;
	background-size: 62.5%;
    background-position-y: 52.5%;
}

ul.apps {
	max-width: 800px;
	margin: auto;
	display: flex;
	li {
		margin-right: 30px;
		width: 50%;
	}
	li a {
		flex-direction: column;
		flex: 0 0 calc((100% - 120px)/ 4);
		margin-bottom: 2em;

		.icon {
		    height: 120px;
		    margin-right: 15px;
		    margin-bottom: 39px;
		    width: 120px;
		    border-radius: 30px;
			box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.1),
						0px 4px 2px rgba(0, 0, 0, 0.1),
						0px 2px 4px rgba(0, 0, 0, 0.1);
		}
		p {
			font-size: 1.6rem;
			line-height: 2.8rem;

		}

	}
}
















/* Responsive */

@media only screen and (max-width: 450px) {

	body { font-size: 1.6rem; line-height: 2.8rem; }

	img { padding: 40px 0; }

	// Typography

	h1 { font-size: 6rem; line-height: 7rem; margin: 170px 0 70px 0; }
	h2 { font-size: 2.1rem; line-height: 3.2rem; }

	// Blocks

	.wrapper { padding: 0 25px; }

	.text-block {
		padding-right: 10px;
		.legend {
			padding-left: 15px;
		}
	}

	// Navigation

	header {
		section {
			height: 70px;
			.back {
				margin: 8px 0 0 -25px;
			}
			nav {
				a { font-size: 1.6rem; line-height: 7.5rem;}
			}
		}
	}

	// Apps

	ul.apps {
		display: block;
		li {
			margin-right: 30px;
			width: 100%;
		}
		li a {
			display: flex;
			flex-direction: row;
			flex: 0 0 100%;
			margin-bottom: 2em;
			.icon {
				flex: 0 0 60px;
				width: 60px;
			    height: 60px;
			    margin-right: 15px;
    			border-radius: 15px;
				box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.01),
							0px 4px 2px rgba(0, 0, 0, 0.01),
							0px 2px 4px rgba(0, 0, 0, 0.01);
			}
		}
	}




}
