// @font-face {
//   font-family: 'Menlo';
//   src: url('../css/fonts/Menlo/Menlo-Regular.eot');
//   src: local('☺'),   	url('../css/fonts/Menlo/Menlo-Regular.woff')
//   format('woff'), 		url('../css/fonts/Menlo/Menlo-Regular.ttf')
//   format('truetype'),	url('../css/fonts/Menlo/Menlo-Regular.svg') format('svg');
//   font-weight: 200;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Gotham';
//   src: url('../css/fonts/gotham/gotham-rounded-book.eot');
//   src: local('☺'),    url('../css/fonts/gotham/gotham-rounded-book.woff')
//   format('woff'),     url('../css/fonts/gotham/gotham-rounded-book.ttf')
//   format('truetype'), url('../css/fonts/gotham/gotham-rounded-book.svg') format('svg');
//   font-weight: 400;
//   font-style: normal;
// }

@font-face {
  font-family: 'OpenSans';
  src: url('../css/fonts/OpenSans/OpenSans-Regular.eot');
  src: local('☺'),   	url('../css/fonts/OpenSans/OpenSans-Regular.woff')
  format('woff'), 		url('../css/fonts/OpenSans/OpenSans-Regular.ttf')
  format('truetype'),	url('../css/fonts/OpenSans/OpenSans-Regular.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}


$primary: #a7a7ac;
$dark: #17171c; 
$light: #E8E8E8;

body {
	font: 18px / 27px "OpenSans", sans-serif;
  font-weight: 300;
	color: $dark;

    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
    // text-rendering: optimizeLegibility;	
}

h1 {
	font-size: 18px;
	color: $dark;
	line-height: 1.5;
}




