@font-face {
  font-family: 'Menlo';
  src: url('../css/fonts/Menlo/Menlo-Regular.eot');
  src: local('☺'),   	url('../css/fonts/Menlo/Menlo-Regular.woff')
  format('woff'), 		url('../css/fonts/Menlo/Menlo-Regular.ttf')
  format('truetype'),	url('../css/fonts/Menlo/Menlo-Regular.svg') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../css/fonts/OpenSans/OpenSans-Light.eot');
  src: local('☺'),   	url('../css/fonts/Roboto/Roboto-Light.woff')
  format('woff'), 		url('../css/fonts/Roboto/Roboto-Light.ttf')
  format('truetype'),	url('../css/fonts/Roboto/Roboto-Light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../css/fonts/Roboto/Roboto-Regular.eot');
  src: local('☺'),   	url('../css/fonts/Roboto/Roboto-Regular.woff')
  format('woff'), 		url('../css/fonts/Roboto/Roboto-Regular.ttf')
  format('truetype'),	url('../css/fonts/Roboto/Roboto-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}


$primary: #B8BBBF;
$dark: #000000; 
$light: #E8E8E8;

body {
	font: 18px / 30px "Roboto", sans-serif;
  font-weight: 300;
	color: $primary;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;	
}

h1 {
	font-size: 1.5em;
	color: $dark;
	line-height: 1.5;
}




