@font-face {
  font-family: 'Lab';
  src: url('../css/fonts/Lab/LabGrotesque-Regular.eot');
  src: local('☺'),    url('../css/fonts/Lab/LabGrotesque-Regular.woff')
  format('woff'),     url('../css/fonts/Lab/LabGrotesque-Regular.ttf')
  format('truetype'), url('../css/fonts/Lab/LabGrotesque-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Executivv';
  src: url('../css/fonts/executive/Executive-Regular.eot');
  src: local('☺'),    url('../css/fonts/executive/Executive-Regular.woff')
  format('woff'),     url('../css/fonts/executive/Executive-Regular.ttf')
  format('truetype'), url('../css/fonts/executive/Executive-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Menlo';
  src: url('../css/fonts/Menlo/Menlo-Regular.eot');
  src: local('☺'),    url('../css/fonts/Menlo/Menlo-Regular.woff')
  format('woff'),     url('../css/fonts/Menlo/Menlo-Regular.ttf')
  format('truetype'), url('../css/fonts/Menlo/Menlo-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}



// Fakt


@font-face {
  font-family: 'Fakt';
  src: url('../css/fonts/Fakt/FaktPro-Blond.eot');
  src: local('☺'),    url('../css/fonts/Fakt/FaktPro-Blond.woff')
  format('woff'),     url('../css/fonts/Fakt/FaktPro-Blond.ttf')
  format('truetype'), url('../css/fonts/Fakt/FaktPro-Blond.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fakt';
  src: url('../css/fonts/Fakt/FaktPro-Normal.eot');
  src: local('☺'),    url('../css/fonts/Fakt/FaktPro-Normal.woff')
  format('woff'),     url('../css/fonts/Fakt/FaktPro-Normal.ttf')
  format('truetype'), url('../css/fonts/Fakt/FaktPro-Normal.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fakt';
  src: url('../css/fonts/Fakt/FaktPro-SemiBold.eot');
  src: local('☺'),    url('../css/fonts/Fakt/FaktPro-SemiBold.woff')
  format('woff'),     url('../css/fonts/Fakt/FaktPro-SemiBold.ttf')
  format('truetype'), url('../css/fonts/Fakt/FaktPro-SemiBold.svg') format('svg');
  font-weight: 600;
  font-style: normal;
}
